body {
	background-image: url('../img/bg.png');
	height: 100%;
	font-family: 'fira_sanslight';
}
html {
	height: 100%;
}
:focus {
	outline: 0;
}
/* хедер */
.header {
	height: 119px;
	background: #eff3f7 url(../img/border.png) bottom center no-repeat;
	position: relative;
	margin-bottom: 39px;
}
.container-wide {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0;
}
/* логотип */
.logo-wrapper {
	width: 185px;
	height: 60px;
	left: 65px;
	top: 22px;
	position: absolute;
}
.logo {
	font-size: 40pt;
	font-family: 'Patrick Hand', cursive;
	font-color: black;
	text-decoration: none;
}
.logo-link {
	text-decoration: none;
}
.logo-link:visited {
	color: black;
}
/* соцсети */
.social-list {
	right: 0;
	position: absolute;
	top: 35px;
	margin: 0px;
	padding: 0px;
}
.social-item {
	display: inline-block;
	list-style: none;
	margin-left: 20px;
	width: 47px;
	height: 47px;
}
.social-item:first-child {
	margin-left: 0px;
}
.socials-link {
	display: block;
	height: 100%;
	width: 100%;
}
.text-hide {
	position: absolute;
	left: -9999px;
}
.social-item.vk a {
	background: url('../img/social-icons.png') 0 -282px;
}
.social-item.vk a:hover {
	background: url('../img/social-icons.png') 0 -329px;
}
.social-item.tw a {
	background: url('../img/social-icons.png') 0 -188px;
}
.social-item.tw a:hover {
	background: url('../img/social-icons.png') 0 -235px;
}
.social-item.fb a {
	background: url('../img/social-icons.png') 0 0;
}
.social-item.fb a:hover {
	background: url('../img/social-icons.png') 0 -47px;
}
.social-item.gh a {
	background: url('../img/social-icons.png') 0 -94px;
}
.social-item.gh a:hover {
	background: url('../img/social-icons.png') 0 -141px;
}
.page {
	width: 960px;
	margin: 0 auto;
}
.sidebar {
	width: 250px;
	float: left;
}
.variable-content {
	width:650px;
	float: right;
	border-radius: 4px;
	margin-bottom: 0;
}
/* меню навигации */
.nav  {
	width: 250px;
	display: block;
	margin: 0 0 26px 0;
	font-size: 21px;
	background: #eff3f7;
	overflow: hidden;
	border-radius: 4px;
}
.nav-list {
	width: 250px;
	padding: 0px;
	margin: 0;
	font-family: 'fira_sansbook';
}
.nav-item {
	list-style: none;
	border-bottom: 2px solid #4eafc5;
	margin: 0px 10px -2px 10px;
	padding: 25px 10px 15px 15px;
	width: 205px;
}
.nav-link {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #959aa8;
}
.nav-link:visited {
	color: #959aa8;
}
.nav-link:hover {
	color: #4eafc5;
}
.nav-text {
	/*position: relative;
	top: 22px;
	left: 17px;*/
	line-height: 1.6;
}
/* контакты */
.adress {
	overflow: hidden;
	display: block;
	font-family: 'fira_sansbook';
	border-radius: 4px;
}
.contacts-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.contacts-header {
	height: 40px;
	background-color: #41abc2;
	width: 250px;
}
.contacts-header-text {
	position: relative;
	top: 6px;
	left: 20px;
	color: white;
	font-size: 21px;
}
.contacts-item {
	list-style: none;
	height: 37px;
	background: url(../img/contacts.png) 42px center no-repeat;
	display: block;
	width: 250px;
}
.contacts-link {
	text-decoration: none;
	color: white;
	font-size: 17px;
	position: relative;
	top: 7px;
	left: 80px;
	display: block;
	cursor: pointer;
	width: 180px;
	margin: 0;
}
.contacts-link:visited {
	color: white;
}
.contacts-link:hover {
	text-decoration: underline;
}
.mail-block {
	background-color: #4ab8d0;
	background-position-y: -4px;
	background-position-x: 27px;
}
.tel-block {
	background-color: #49c8e5;
	background-position-y: -52px;
	background-position-x: 27px;
}
.skype-block {
	background-color: #4fd7f5;
	background-position-y: -103px;
	background-position-x: 27px;
}
/* универсальный блок главного контента */
.section-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	color: #3ba8c0;
	height: 40px;
	border: 2px;
	border-color: #3ba8c0;
	border-bottom: 2px solid;
	display: inline-block;
	padding: 14px 22px 13px 22px;
}
.section-header span{
	margin: 0 auto;
	height: 30px;
}
.section-education {
	background-color: #EFF2F7;
	padding: 0px;
	margin: 16px;
}
.section-next {
	border-radius: 4px;
	margin-bottom: 24px;
	background-color: #EFF2F7;
	padding-bottom: 17px;
}
/* футер */
.footer {
	background: #eff3f7 url(../img/border.png) top center no-repeat;
	color: #4a545d;
	height: 100%;
	padding-top: 10px;
	font-size: 13px;
}
.footer-login {
	height: 35px;
	width: 23px;
	float:left;
	position: relative;
	top: 18px;
	left: 28px;
}
.login-link {
	display: block;
	width: 23px;
	height: 35px;
	background-image: url(../img/ic_lock.png);
	background-repeat: no-repeat;
}
.login-link:hover {
	background-image: url(../img/ic_unlock.png);
	background-position: 2px 1px;
}
.copyright {
	font-family: 'fira_sanslight';
	width: 400px;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
	margin: 23px auto;
}
.footer-content {
	width: 960px;
	margin: 0 auto;
	height: 68px;
	text-align: center;
}
/* прибивка футера к низу */
.wrapper {
	position: relative;
	min-height: 100%;
	height:auto !important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 78px;
	display: block;
}
.footer {
	height: 68px;
	margin-top: -80px;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
/* clearfix конец */